body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
    width: 300px;
    background-color: #fff;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.product-img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 15px;
}

.product-title {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    color: #333;
}

.product-description {
    font-size: 0.9rem;
    color: #666;
    margin: 0 0 15px 0;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
    margin: 0 0 20px 0;
}

.buy-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease-in-out;
}

.buy-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}
