body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 40px;
}

main {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.player-container {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

    transform: scale(1);
}

.player-container:hover {
    transform: scale(1.002);
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.5);
}

.player-container:active {
    transform: scale(1.002);
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.5);
}

audio, video {
    display: block;
    margin: 10px auto;
}

